.App{
  background-color: black;
  width: 100vw;
  height: 100vh;
}
.passwordcheck{
  width : 10vw;
  margin: auto;
  padding-top: 50vh;
}
.passwordEnter{
  height: 40px;
  width: 220px;
  font-size: large;
}
.describe{
  color: white;
  text-align: left;
  margin: 0;
}